{% load static %}
{% load bootstrap_customizer %}
{% load crispy_forms_filters %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}PalPay{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="icon" href="{% static 'favicon.ico' %}">
    <style lang="css">{% bootstrap_theme_css_above_the_fold %}</style>
    <link lang="css" href="{% static 'style.css' %}">
</head>
<body>
<link rel="stylesheet" type="text/css" href="{% bootstrap_theme_css_below_the_fold_url %}">

<!--Navbar-->
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary p-1 ">
        <a class="navbar-brand" href="/home"><img src="{% static 'palpay-mono.png' %}" width="50" height="50" alt="palpay logo, two of the letter p backwards, overlaid on one another"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-area" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-area">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/activity"></a>
                        </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nav Item</a>
                    </li>
                    -->
                    {% if user.is_staff %}
                        <li>
                            <a class="nav-link" href="/admin-activity">User Transactions</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/admin-users">User Management</a>
                        </li>
                    {% endif %}
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout <i>{{user.username}}</i></a>
                        </li>
                    </ul>
                {% endif %}

        </div>
    </nav>
</div>


{% if messages %}
    <div class="m-3">
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="container py-5">
    {% block content %}
    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>