{% extends 'webapps2024/base.html' %}
{% block title %}
    All Transactions
{% endblock %}

{% block content %}
    todo: add button to make admins (grant django superuser access)
    {% if people %}
        <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Username</td>
            <td>Balance</td>
            <td>Status</td>
        </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
            <td>{{ person.user.id }}</td>
            <td>{{ person.user.username }}</td>
            <td>{{ person.balance }}</td>
            <td>{% if person.active %} Active {% else %} Inactive {% endif %}</td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ person.user.id }}" name="user_id">
                    <input type="submit" class="btn btn-danger" value="Make Admin">
                </form>
            </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
    <span>For a more comprehensive and editable list of users (including creating more admins), see the <a href="/admin/">Django Admin Panel</a>.</span>
{% endblock %}