{% extends 'webapps2024/base.html' %}
{% block title %}
    All Transactions
{% endblock %}

{% block content %}
    {% if activity_list %}
        <table class="table">
        <thead>
        <tr>
        <td>From</td>
        <td>To</td>
        <td>Amount</td>
        <td>Submitted</td>
        </tr>
        </thead>
        <tbody>
        {% for activity in activity_list %}
            <tr>
                <td>{{ activity.from_person }}</td>
                <td>{{ activity.to_person }}</td>
                <td>{{ activity.amount }}</td>
                <td>{{ activity.submission_datetime }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <span>No activity found in database</span>
    {% endif %}
{% endblock %}