{% extends 'webapps2024/base.html' %}
{% load crispy_forms_filters %}
{% block title %}
    Summary
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="card bg-secondary" style="width:25rem">
                    <div class="card-body">
                        <h5 class="card-title">PalPay Balance</h5>
                        <div class="h3">{{ person.balance }}</div>
                    </div>
                </div>

                <div class="card bg-secondary" style="width:25rem">
                    <div class="card-header">Recent Transactions</div>
                    {% if recent_transactions %}
                        <ul class="list-group list-group-flush text-light">
                            {% for rt in recent_transactions %}
                                <li class="list-group-item bg-secondary">
                                    <span>{{ rt.submission_datetime|date }} | {{ rt.from_person.user.username }} -> {{ rt.amount }} -> {{ rt.to_person.user.username }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="text-center">No recent transactions.</div>
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <!--
                <div class="btn-toolbar justify-content-center" role="toolbar">
                    <div class="btn-group m-2" role="group">
                        <a type="button" class="btn btn-primary btn-lg" href="{%  url 'send' %}">Send</a>
                    </div>
                    <div class="btn-group m-2" role="group">
                        <a type="button" class="btn btn-primary btn-lg" href="{% url 'request' %}">Request</a>
                    </div>
                </div>
                -->
                
                <div class="card bg-secondary" style="width:25rem">
                    <div class="card-header">Pending Requests</div>
                    {% if requests_and_forms %}
                        <ul class="list-group list-group-flush">
                            {% for rs, form in requests_and_forms %}
                                <li class="list-group-item bg-secondary">
                                    <span>{{ rs.by_person.user.username }} requested {{ rs.amount }} from {{ rs.to_person.user.username }} </span>
                                </li>
                                {% if rs.to_person.user_id == person.user_id %} {# if requested from current user #}
                                <li class="list-group-item bg-secondary">
                                    <form action="/request-response/" method="POST">
                                        <script id="workaround-for-djmoney-bug">
                                            setTimeout(function(){
                                                document.getElementById("div_id_amount").style.display="none"
                                            }, 0);
                                        </script>
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <input type="submit" class="btn btn-success m-1" value="Confirm">
                                    </form>
                                
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="text-center">No pending requests.</div>
                    {% endif %}  
                </div>
                
            </div>
        </div>
    </div>







{% endblock %}