{% extends 'webapps2024/base.html' %}
{% block title %}
    Summary
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="card bg-secondary" style="width:25rem">
                    <div class="card-body">
                        <h5 class="card-title">PalPay Balance</h5>
                        <div class="h3">{{ person.balance }}CUR</div>
                    </div>
                </div>

                top 5 recent transactions (if user then these must be for the user, if admin then these can be globally)
                -> highlight each if its from the last 24hrs

                <div class="card bg-secondary" style="width:25rem">
                    <div class="card-header">Recent Transactions</div>
                    {% if recent_transactions %}
                        <ul class="list-group list-group-flush">
                            {% for rt in recent_transactions %}
                                <li class="list-group-item">
                                    <div class="align-left">{{ rt.amount }}</div>
                                    <div class="align-center">{{ rt.submission_datetime|date }}</div>
                                    <div class="align-right">{{ rt.to_person.user.username }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="text-center">No recent transactions.</div>
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group m-2" role="group">
                        <button type="button" class="btn btn-primary btn-lg">Send</button>
                    </div>
                    <div class="btn-group m-2" role="group">
                        <button type="button" class="btn btn-primary btn-lg">Request</button>
                    </div>
                </div>

                {% if requests %}
                <div class="card" style="width:25rem">
                    <div class="card-header">Payment Requests</div>

                        <ul class="list-group list-group-flush">
                            {% for rs in requests %}
                                <li class="list-group-item">
                                    <div class="align-left">{{ rs.amount }}</div>
                                    <!--<div class="align-center">{{ rs.submission_datetime|date }}</div>-->
                                    <div class="align-right">{{ rs.by_person.user.username }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                </div>
                {% endif %}
                optional: 'send again' list of users that the user has previously sent money to
            </div>
        </div>
    </div>







{% endblock %}