{% extends 'webapps2024/base.html' %}
{% block title %}
    Summary
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="card bg-secondary" style="width:25rem">
                    <div class="card-body">
                        <h5 class="card-title">PalPay Balance</h5>
                        <div class="h3">{{ person.balance }}</div>
                    </div>
                </div>

                <div class="card bg-secondary" style="width:25rem">
                    <div class="card-header">Recent Transactions</div>
                    {% if recent_transactions %}
                        <ul class="list-group list-group-flush text-light">
                            {% for rt in recent_transactions %}
                                <li class="list-group-item bg-secondary">
                                    <span>{{ rt.submission_datetime|date }} | {{ rt.from_person.user.username }} -> {{ rt.amount }} -> {{ rt.to_person.user.username }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="text-center">No recent transactions.</div>
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <!--
                <div class="btn-toolbar justify-content-center" role="toolbar">
                    <div class="btn-group m-2" role="group">
                        <a type="button" class="btn btn-primary btn-lg" href="{%  url 'send' %}">Send</a>
                    </div>
                    <div class="btn-group m-2" role="group">
                        <a type="button" class="btn btn-primary btn-lg" href="{% url 'request' %}">Request</a>
                    </div>
                </div>
                -->
                
                <div class="card bg-secondary" style="width:25rem">
                    <div class="card-header">Pending Requests</div>
                    {% if requests %}
                        <ul class="list-group list-group-flush">
                            {% for rs in requests %}
                                <li class="list-group-item bg-secondary">
                                    <span>{{ rs.by_person.user.username }} requested {{ rs.amount }} from {{ rs.to_person.user.username }} </span>
                                </li>
                                {% if rs.to_person.user_id == person.user_id %} {# if requested from current user #}
                                <li class="list-group-item bg-secondary">
                                    <div class="form-group d-flex">
                                        <form action="/request-response/" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="by_person" value="{{ rs.by_person.id }}">
                                            <input type="hidden" name="to_person" value="{{ rs.to_person.id }}">
                                            <input type="hidden" name="amount" value="{{ rs.amount.amount }}">
                                            <input type="hidden" name="currency" value="{{ rs.amount.currency }}">
                                            <input type="hidden" name="status" value="{{ rs.status }}">
                                            <input type="submit" class="btn btn-success m-1" value="Accept">
                                        </form>

                                        <form action="/request-response/" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="by_person" value="{{ rs.by_person.id }}">
                                            <input type="hidden" name="to_person" value="{{ rs.to_person.id }}">
                                            <input type="hidden" name="amount" value="{{ rs.amount.amount }}">
                                            <input type="hidden" name="currency" value="{{ rs.amount.currency }}">
                                            <input type="hidden" name="status" value="{{ rs.status }}">
                                            <input type="submit" class="btn btn-danger form-control m-1" value="Refuse">
                                        </form>
                                    </div>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="text-center">No pending requests.</div>
                    {% endif %}  
                </div>
                
            </div>
        </div>
    </div>







{% endblock %}